

body{
    height: 100vh;
    display: flex;
    background-color:rgb(56, 55, 55) ;
}

h1{
    color: rgb(245, 77, 77);
    text-align: center;
    font-size: 110px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    text-align: center;
    margin-left: 40px;
}

button{
    height: 38px;
    width: 100px;
    position: absolute;
  bottom: 35px;
  border: 4px solid rgb(245, 77, 77);
  border-radius: 10px;
}

button:hover{
    background-color: rgb(245, 236, 120);
}

.flagsButton{
    left: 35px;
}
.catsButton{
    left: 195px;
}
.h-P-Button{
    left: 353px;
}

.memory-game{
    background-color:rgb(56, 55, 55);
    width: 850px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card{
    width: calc(25% - 10px);
    height: calc(33% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgb(14, 13, 13);
    transform-style: preserve-3d;
}

.memory-card:active {
transform: scale(0.97);
transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
    
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 8px;
    position: absolute;
    border-radius: 5px;
    background-color:rgb(56, 55, 55);
    backface-visibility: hidden;

}

.front-face {
    transform: rotateY(180deg);
}





#endMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(161, 50, 50);
    color: rgb(248, 244, 244);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: none; 
}

#endMessage h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#endMessage p {
    font-size: 18px;
}


#restartButton {
    left: 195px;
    bottom: 200px;
    height: 60px;
    width: 170px;

}




